.container-1 {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  text-align: center;
}

.container-2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
}

.container-3 {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  color: white;
  text-align: center;
}

.container-4 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
}

.container-5 {
  width: 100px;
  height: 100px;
  background-color: orange;
  color: white;
  text-align: center;
}

.container-6 {
  width: 100px;
  height: 100px;
  background-color: brown;
  color: white;
  text-align: center;
}

.container-7 {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  text-align: center;
}

.container-8 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  color: white;
  text-align: center;
}

.container-9 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  color: white;
  text-align: center;
}

.parent {
}  